@import helper._

@(supplier: Supplier, form: Form[FoodAvailability])

@main("Make Food Available")(supplier) {

    <div class="jumbotron col-md-10 offset-md-1">
        <h3>Publish available food</h3>

        @helper.form(action = routes.FoodAvailabilityController.create(), 'class -> "form-group") {
            @helper.CSRF.formField

            <label>Time of collection</label>
            @datetimepicker("availableTimeStart")

            <label>Time of collection</label>
            @datetimepicker("availableTimeEnd")

            <label for="info">Any other information</label>
            <textarea class="form-control available-input" id="info" name="info" placeholder="Write anything else that you think the collector should know" style="height:200px"></textarea>


            <input class="form-control btn btn-primary" type="submit" value="Submit and register food items">
            <a class="form-control btn btn-danger" type="button" href="@routes.HomeController.index()">Back to dashboard</a>

        }
    </div>
}